
include README.md  setup.py
recursive-include scaffold_toolkit\static *
recursive-include scaffold_toolkit\formvalidator\static *
recursive-include scaffold_toolkit\zui\static *
recursive-include scaffold_toolkit\zui\templates *

